
<div class="container mt-3">
  <h3>See if bootstrap is working</h3>
  
  <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" title="Yay! Its' working.">
    Hover over me!
  </button>  
</div>

<div class="container mt-3">
  <h3>See if jquery is working(Refresh page first)</h3>
  
  <button type="button" class="btn btn-primary" id="jq-test">
    Click me!
  </button>
</div>

   
