<section class="ftco-section">
 <div class="container">
  <div class="row justify-content-center">
   <div class="col-md-6 text-center mb-5">
    <h2 class="heading-section"><!-- LOGO --></h2>
   </div>
  </div>
  <div class="row justify-content-center">
   <div class="col-md-12 col-lg-10">
    <div class="wrap d-md-flex">
     <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
      <div class="text w-100">
       <%= render "devise/shared/error_messages", resource: resource %>
       <h2>Welcome!</h2>
       <p> Didn't receive confirmation link?</p>
       <a href="/users/confirmation/new" class="btn btn-white btn-outline-white">Resend Link</a>
      </div>
     </div>
     <div class="login-wrap p-4 p-lg-5">
      <div class="d-flex">
       <div class="w-100">
        <h3 class="mb-4">Forgot&nbsp;your&nbsp;password?</h3>
       </div>
      </div>
      <form id="new_user" action="/users/password" accept-charset="UTF-8" method="post" class="signin-form">
       <div class="form-group mb-3">
        <label class="label" for="name">Email</label>
        <input type="text" class="form-control" placeholder="Email" name="user[email]" id="user_email" required>
       </div>
       <div class="form-group">
        <button type="submit" class="form-control btn btn-primary submit px-3">Send Password Reset Link</button>
       </div>
       <div class="form-group d-md-flex">
        <div class="w-50 text-left">
         <a href="/users/sign_in">Sign In</a>        
        </div>
        <div class="w-50 text-md-right">
         <a href="/users/sign_up">Sign Up</a>
        </div>
       </div>
       <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      </form>
     </div>
    </div>
   </div>
  </div>
 </div>
</section>

